.root {
    -fx-background-color: #5b8c85;
}

.table-view .column-header-background{
    -fx-background-color: #434e52;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: 800px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #434e52;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ecce6d;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #b0a160;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: #ecce6d;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.root-pane {
    -fx-background-color: #2b2b28;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
    -fx-text-fill: #f1d6ab;
}

#title-text {
    -fx-font-size: 40px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-fill: #e3b04b;
}

#actionTarget {
    -fx-fill: #412006;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: #2b2b28;
    -fx-background-color: #e3b04b;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}
