.root {
    -fx-background-color: #5b8c85;
}

.table-view .column-header-background{
    -fx-background-color: #434e52;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: 800px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #434e52;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ecce6d;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #b0a160;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: #ecce6d;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
